In [ ]:
import pandas as pd
import collections, numpy,os
from collections import Counter
import numpy as np
import text_normalization
from sklearn.preprocessing import LabelEncoder
import re

In [ ]:
df = pd.read_excel('../data/Amal Twitts.xlsx')

In [ ]:
exts = df['text'].to_list()

In [ ]:
df['norm_text'] = df.text.apply(lambda text: text_normalization.clean_unicode(str(text)))

In [ ]:
df

,author_id,username,author_followers,author_tweets,author_description,author_location,tweet_id,text,created_at,retweets,replies,likes,norm_text
0,805528640184287238,raumunz,3070,1054648,LIC. RAรL MUรOZ ALVAREZ. ABOGADO/NOTARIO. DERE...,"San Josรฉ, Costa Rica",1.547008e+18,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุฅูุง ุงูุฌูุฉ#ุงูุณูุฑุฉ_ูุฃู...,2022-07-12 23:59:55+00:00,222.0,0.0,0.0,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุงูุง ุงูุฌูู ุงูุณูุฑู ูุงู...
1,344948845,hesheey,713,19244,ููุงูู ู ูุช --ูุทูู ๐ธ๐ฆ ูุฎุฑู ูุนุฒุชู -- ูุงุนุฏุชู ูู ุงู...,NaN,1.547008e+18,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ,2022-07-12 23:59:43+00:00,161.0,0.0,0.0,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ
2,1281817306046365697,ealam_itti,22300,22243,#ุนุงูู _ุงูุงุชุญุงุฏ ู ูุตู ุฅุฎุจุงุฑูู ูุชูุงุนููุฉ ูุชุบุทูู ุฃุฎุจ...,NaN,1.547008e+18,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ุฉ ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...,2022-07-12 23:59:42+00:00,692.0,0.0,0.0,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ู ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...
3,1442923975223414786,3krstzzm,54,7054,"โ""ุฃูุฑู ุชูู ููู ุงูุญู ุฏุ ูุณุชุฑุชูู ููู ุงูุญู ุฏุ ูุฑุฒูุชู...","ุงูุฑูุงุถ, ุงูู ู ููุฉ ุงูุนุฑุจูุฉ ุงูุณุนูุฏ",1.547008e+18,ุดูุฑุง_ููุงุฏุชูุง_ุนูู_ูุฌุงุญ_ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...,2022-07-12 23:59:37+00:00,2681.0,0.0,0.0,ุดูุฑุง ููุงุฏุชูุง ุนูู ูุฌุงุญ ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...
4,417380510,othman111mo,3563,146035,ู ูุชู ุจูู ุดุฆ ูุฎุงุตู ูู ู ุง ูุฏูุฑ ูู ูุทูู,Kingdom of Saudi Arabia,1.547008e+18,ุงูุงุชุญุงุฏ ุงูุฃูุฑูุจู: ุงูุณุนูุฏูุฉ ูุฌุญุช ุจุฅุฏุงุฑุฉ ู ูุณู #...,2022-07-12 23:59:35+00:00,63.0,0.0,0.0,ุงูุงุชุญุงุฏ ุงูุงูุฑูุจู ุงูุณุนูุฏูู ูุฌุญุช ุจุงุฏุงุฑู ู ูุณู ุงู...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140644,1510675396987084804,abwmhmd42014503,21,3471,ุญุณุงุจ ุฌุฏูุฏ,NaN,1.544834e+18,@marsdnews24 ุงููู ูููููู ุนูู ุงูู ูุณุฏูู ุงููู ูุชุฑ...,2022-07-07 00:00:17+00:00,0.0,0.0,0.0,ุงููู ูููููู ุนูู ุงูู ูุณุฏูู ุงููู ูุชุฑู ุงูุญุฌ ุจุงููุณ...
140645,790485202481123328,Shreefayahya,49,3695,NaN,NaN,1.544834e+18,ุฃู ุซู ูุฐุง ูุคุชู ู ุนูู ุดุนูุฑุฉ ุงูุญุฌุ!\nุงูููู ุฅูุง ูุจุฑ...,2022-07-07 00:00:03+00:00,1.0,1.0,2.0,ุงู ุซู ูุฐุง ูุชู ู ุนูู ุดุนูุฑู ุงูุญุฌ ุงูููู ุงูุง ูุจุฑุง ุงู...
140646,1321126124869603329,AlarabiyaJordan,3695,8643,"""ุงูุนุฑุจูุฉ ุงูุฃุฑุฏู"" ุญุณุงุจ ู ุชุฎุตุต ูู ุชุบุทูุฉ ูุงูุฉ ุฌูุงู...",NaN,1.544834e+18,ุฃูุฏ ูุฒูุฑ ุงูุงููุงู ูุงูุดุคูู ูุงูู ูุฏุณุงุช ุงูุงุณูุงู ูุฉ ู ...,2022-07-07 00:00:02+00:00,0.0,0.0,3.0,ุงูุฏ ูุฒูุฑ ุงูุงููุงู ูุงูุดูู ูุงูู ูุฏุณุงุช ุงูุงุณูุงู ูู ู ุญ...
140647,216289357,skynewsarabia,8047144,348894,NaN,"Abu Dhabi, UAE",1.544834e+18,ูุทุงุฑ ุงูู ุดุงุนุฑ ุงูู ูุฏุณุฉ.. ุฑุญูุฉ ูุฏูุงุฆู ุจุฏู ุณุงุนุงุช |...,2022-07-07 00:00:00+00:00,10.0,0.0,26.0,ูุทุงุฑ ุงูู ุดุงุนุฑ ุงูู ูุฏุณู ุฑุญูู ูุฏูุงุฆู ุจุฏู ุณุงุนุงุช ุบุฑู...
140648,375800523,drabofaris,4259,38272,ุฃูุงุฏูู ู ู ุดุงุนุฑ ุตุฏุฑ ูู ุณุชุฉ ุฏูุงููู. ูุฌูุก ููู ุงูุด...,NaN,1.544834e+18,ุจู ูุงุณุจุฉ ุงูุญุฌ ูุชุจุช ูุฐุง ุงููุต ุชุดููุงู ูู ูุฉ ุงูู ูุฑู ุฉ...,2022-07-07 00:00:00+00:00,5.0,1.0,9.0,ุจู ูุงุณุจู ุงูุญุฌ ูุชุจุช ูุฐุง ุงููุต ุชุดููุง ูู ูู ุงูู ูุฑู ู ...

In [ ]:
# to remove retweeted tweets as they cannot be lnger than 140 chars and usulally contain repeated info 
match = 'RT'
print('Number of Tweets before removing rows contain unwnated word: ',df.shape)
df = df[df['text'].str.contains(match)==False]
print('Number of Tweets after removing rows contain unwnated word: ',df.shape)

Number of Tweets before removing rows contain unwnated word:  (140649, 13)
Number of Tweets after removing rows contain unwnated word:  (109293, 13)

In [ ]:
# to remove mssing valuse
print('Number of Tweets before removing mssing valuse: ',df.shape)
df = df.dropna(subset=['norm_text'])  
print('Number of Tweets after removing mssing valuse: ',df.shape)
df.head(5)

Number of Tweets before removing mssing valuse:  (109293, 13)
Number of Tweets after removing mssing valuse:  (109293, 13)

,author_id,username,author_followers,author_tweets,author_description,author_location,tweet_id,text,created_at,retweets,replies,likes,norm_text
0,805528640184287238,raumunz,3070,1054648,LIC. RAรL MUรOZ ALVAREZ. ABOGADO/NOTARIO. DERE...,"San Josรฉ, Costa Rica",1.547008e+18,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุฅูุง ุงูุฌูุฉ#ุงูุณูุฑุฉ_ูุฃู...,2022-07-12 23:59:55+00:00,222.0,0.0,0.0,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุงูุง ุงูุฌูู ุงูุณูุฑู ูุงู...
1,344948845,hesheey,713,19244,ููุงูู ู ูุช --ูุทูู ๐ธ๐ฆ ูุฎุฑู ูุนุฒุชู -- ูุงุนุฏุชู ูู ุงู...,NaN,1.547008e+18,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ,2022-07-12 23:59:43+00:00,161.0,0.0,0.0,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ
2,1281817306046365697,ealam_itti,22300,22243,#ุนุงูู _ุงูุงุชุญุงุฏ ู ูุตู ุฅุฎุจุงุฑูู ูุชูุงุนููุฉ ูุชุบุทูู ุฃุฎุจ...,NaN,1.547008e+18,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ุฉ ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...,2022-07-12 23:59:42+00:00,692.0,0.0,0.0,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ู ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...
3,1442923975223414786,3krstzzm,54,7054,"โ""ุฃูุฑู ุชูู ููู ุงูุญู ุฏุ ูุณุชุฑุชูู ููู ุงูุญู ุฏุ ูุฑุฒูุชู...","ุงูุฑูุงุถ, ุงูู ู ููุฉ ุงูุนุฑุจูุฉ ุงูุณุนูุฏ",1.547008e+18,ุดูุฑุง_ููุงุฏุชูุง_ุนูู_ูุฌุงุญ_ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...,2022-07-12 23:59:37+00:00,2681.0,0.0,0.0,ุดูุฑุง ููุงุฏุชูุง ุนูู ูุฌุงุญ ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...
4,417380510,othman111mo,3563,146035,ู ูุชู ุจูู ุดุฆ ูุฎุงุตู ูู ู ุง ูุฏูุฑ ูู ูุทูู,Kingdom of Saudi Arabia,1.547008e+18,ุงูุงุชุญุงุฏ ุงูุฃูุฑูุจู: ุงูุณุนูุฏูุฉ ูุฌุญุช ุจุฅุฏุงุฑุฉ ู ูุณู #...,2022-07-12 23:59:35+00:00,63.0,0.0,0.0,ุงูุงุชุญุงุฏ ุงูุงูุฑูุจู ุงูุณุนูุฏูู ูุฌุญุช ุจุงุฏุงุฑู ู ูุณู ุงู...

In [ ]:
# to remove duplicates from clean text column
print('Number of Tweets before removing duplicates: ',df.shape)
df = df.drop_duplicates(['norm_text'])
print('Number of Tweets after removing duplicates: ',df.shape)
df.head(5)

Number of Tweets before removing duplicates:  (109293, 13)
Number of Tweets after removing duplicates:  (86413, 13)

,author_id,username,author_followers,author_tweets,author_description,author_location,tweet_id,text,created_at,retweets,replies,likes,norm_text
0,805528640184287238,raumunz,3070,1054648,LIC. RAรL MUรOZ ALVAREZ. ABOGADO/NOTARIO. DERE...,"San Josรฉ, Costa Rica",1.547008e+18,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุฅูุง ุงูุฌูุฉ#ุงูุณูุฑุฉ_ูุฃู...,2022-07-12 23:59:55+00:00,222.0,0.0,0.0,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุงูุง ุงูุฌูู ุงูุณูุฑู ูุงู...
1,344948845,hesheey,713,19244,ููุงูู ู ูุช --ูุทูู ๐ธ๐ฆ ูุฎุฑู ูุนุฒุชู -- ูุงุนุฏุชู ูู ุงู...,NaN,1.547008e+18,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ,2022-07-12 23:59:43+00:00,161.0,0.0,0.0,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ
2,1281817306046365697,ealam_itti,22300,22243,#ุนุงูู _ุงูุงุชุญุงุฏ ู ูุตู ุฅุฎุจุงุฑูู ูุชูุงุนููุฉ ูุชุบุทูู ุฃุฎุจ...,NaN,1.547008e+18,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ุฉ ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...,2022-07-12 23:59:42+00:00,692.0,0.0,0.0,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ู ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...
3,1442923975223414786,3krstzzm,54,7054,"โ""ุฃูุฑู ุชูู ููู ุงูุญู ุฏุ ูุณุชุฑุชูู ููู ุงูุญู ุฏุ ูุฑุฒูุชู...","ุงูุฑูุงุถ, ุงูู ู ููุฉ ุงูุนุฑุจูุฉ ุงูุณุนูุฏ",1.547008e+18,ุดูุฑุง_ููุงุฏุชูุง_ุนูู_ูุฌุงุญ_ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...,2022-07-12 23:59:37+00:00,2681.0,0.0,0.0,ุดูุฑุง ููุงุฏุชูุง ุนูู ูุฌุงุญ ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...
4,417380510,othman111mo,3563,146035,ู ูุชู ุจูู ุดุฆ ูุฎุงุตู ูู ู ุง ูุฏูุฑ ูู ูุทูู,Kingdom of Saudi Arabia,1.547008e+18,ุงูุงุชุญุงุฏ ุงูุฃูุฑูุจู: ุงูุณุนูุฏูุฉ ูุฌุญุช ุจุฅุฏุงุฑุฉ ู ูุณู #...,2022-07-12 23:59:35+00:00,63.0,0.0,0.0,ุงูุงุชุญุงุฏ ุงูุงูุฑูุจู ุงูุณุนูุฏูู ูุฌุญุช ุจุงุฏุงุฑู ู ูุณู ุงู...

In [ ]:
# function to find URL
def ck_url(x):
  re_equ = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?ยซยปโโโโ]))"
  ck_url = re.findall(re_equ, x)
  if ck_url:
      return True
  else:
      return False

In [ ]:
# to remove tweets that contain URL
print('Number of Tweets before removing URLs: ',df.shape)
df = df[df['text'].apply(ck_url) == False]
print('Number of Tweets after removing URLs: ',df.shape)
df.head(5)

Number of Tweets before removing URLs:  (86413, 13)
Number of Tweets after removing URLs:  (47652, 13)

,author_id,username,author_followers,author_tweets,author_description,author_location,tweet_id,text,created_at,retweets,replies,likes,norm_text
0,805528640184287238,raumunz,3070,1054648,LIC. RAรL MUรOZ ALVAREZ. ABOGADO/NOTARIO. DERE...,"San Josรฉ, Costa Rica",1.547008e+18,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุฅูุง ุงูุฌูุฉ#ุงูุณูุฑุฉ_ูุฃู...,2022-07-12 23:59:55+00:00,222.0,0.0,0.0,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุงูุง ุงูุฌูู ุงูุณูุฑู ูุงู...
1,344948845,hesheey,713,19244,ููุงูู ู ูุช --ูุทูู ๐ธ๐ฆ ูุฎุฑู ูุนุฒุชู -- ูุงุนุฏุชู ูู ุงู...,NaN,1.547008e+18,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ,2022-07-12 23:59:43+00:00,161.0,0.0,0.0,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ
2,1281817306046365697,ealam_itti,22300,22243,#ุนุงูู _ุงูุงุชุญุงุฏ ู ูุตู ุฅุฎุจุงุฑูู ูุชูุงุนููุฉ ูุชุบุทูู ุฃุฎุจ...,NaN,1.547008e+18,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ุฉ ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...,2022-07-12 23:59:42+00:00,692.0,0.0,0.0,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ู ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...
3,1442923975223414786,3krstzzm,54,7054,"โ""ุฃูุฑู ุชูู ููู ุงูุญู ุฏุ ูุณุชุฑุชูู ููู ุงูุญู ุฏุ ูุฑุฒูุชู...","ุงูุฑูุงุถ, ุงูู ู ููุฉ ุงูุนุฑุจูุฉ ุงูุณุนูุฏ",1.547008e+18,ุดูุฑุง_ููุงุฏุชูุง_ุนูู_ูุฌุงุญ_ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...,2022-07-12 23:59:37+00:00,2681.0,0.0,0.0,ุดูุฑุง ููุงุฏุชูุง ุนูู ูุฌุงุญ ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...
4,417380510,othman111mo,3563,146035,ู ูุชู ุจูู ุดุฆ ูุฎุงุตู ูู ู ุง ูุฏูุฑ ูู ูุทูู,Kingdom of Saudi Arabia,1.547008e+18,ุงูุงุชุญุงุฏ ุงูุฃูุฑูุจู: ุงูุณุนูุฏูุฉ ูุฌุญุช ุจุฅุฏุงุฑุฉ ู ูุณู #...,2022-07-12 23:59:35+00:00,63.0,0.0,0.0,ุงูุงุชุญุงุฏ ุงูุงูุฑูุจู ุงูุณุนูุฏูู ูุฌุญุช ุจุงุฏุงุฑู ู ูุณู ุงู...

In [ ]:
columns_to_drop = ['created_at','tweet_id','author_id','author_description','likes','replies','author_location']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.dropna()

,username,author_followers,author_tweets,text,retweets,norm_text
0,raumunz,3070,1054648,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุฅูุง ุงูุฌูุฉ#ุงูุณูุฑุฉ_ูุฃู...,222.0,ุงูุญุฌ ุงูู ุจุฑูุฑ ููุณ ูู ุฌุฒุงุก ุงูุง ุงูุฌูู ุงูุณูุฑู ูุงู...
1,hesheey,713,19244,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ,161.0,ุฑุฆูุณ ุณุงุญู ุงูุนุงุฌ ูุฑูุถ ุงูุจุฑูุชูููู ุงูุณุนูุฏู ูู ุงูุญุฌ
2,ealam_itti,22300,22243,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ุฉ ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...,692.0,ู ุง ุชููู ุจู ุจูุงุฏูุง ูู ุฎุฏู ู ุญุฌุงุฌ ุจูุช ุงููู ุงูุญุฑุง...
3,3krstzzm,54,7054,ุดูุฑุง_ููุงุฏุชูุง_ุนูู_ูุฌุงุญ_ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...,2681.0,ุดูุฑุง ููุงุฏุชูุง ุนูู ูุฌุงุญ ุงูุญุฌ ุงูุญู ุฏููู ุญุชู ูุจูุบ ุง...
4,othman111mo,3563,146035,ุงูุงุชุญุงุฏ ุงูุฃูุฑูุจู: ุงูุณุนูุฏูุฉ ูุฌุญุช ุจุฅุฏุงุฑุฉ ู ูุณู #...,63.0,ุงูุงุชุญุงุฏ ุงูุงูุฑูุจู ุงูุณุนูุฏูู ูุฌุญุช ุจุงุฏุงุฑู ู ูุณู ุงู...
...,...,...,...,...,...,...
140631,cxi_52,7,128,@MtjrRyf @n_2ad ุงุฏุฎู ุนูู ูุงุฒุฑุฉ ุงูุญุฌ ูุงุญุฌุฒ ุนุงูุฐ...,0.0,ุงุฏุฎู ุนูู ูุงุฒุฑู ุงูุญุฌ ูุงุญุฌุฒ ุนุงูุฐุงูุฑูู
140632,coachshreif3ouf,42009,114342,ุงูููู 8 ุฐู ุงูุญุฌุฉ ูู ููู ุงูุชุฑููุฉ ุญูุซ ุชุจุฏุฃ ุงูู ู ...,21.0,ุงูููู ุฐู ุงูุญุฌู ูู ููู ุงูุชุฑููู ุญูุซ ุชุจุฏุง ุงูู ู ูุง...
140638,LAljmazy,15,177,@kamalsinai ูุชุจ ุงููู ููุง ูููู ุงูุญุฌ ูุงูุนู ุฑุฉ ู ุฑุฉ...,0.0,ูุชุจ ุงููู ููุง ูููู ุงูุญุฌ ูุงูุนู ุฑู ู ุฑู ุจุนุฏ ู ุฑู
140640,vilnca,158,2885,ูุงุฒูููููู ู ุดุงุนุฑ ุงูุญุฌ ๐ฅน๐ค,0.0,ูุงุฒููู ู ุดุงุนุฑ ุงูุญุฌ
140644,abwmhmd42014503,21,3471,@marsdnews24 ุงููู ูููููู ุนูู ุงูู ูุณุฏูู ุงููู ูุชุฑ...,0.0,ุงููู ูููููู ุนูู ุงูู ูุณุฏูู ุงููู ูุชุฑู ุงูุญุฌ ุจุงููุณ...

In [ ]:
# to remove tweets that contain URL
match = 'ุงูุญูุซู'
print('Number of Tweets before removing rows contain unwnated word: ',df.shape)
df = df[df['text'].str.contains(match)==False]
print('Number of Tweets after removing rows contain unwnated word: ',df.shape)

In [ ]:
df.to_csv('cleaned_data')

**To predict sentiment analsis based on MAZAJAK model**

In [ ]:
import requests
import json

In [ ]:
'''
This function offers the ability to predict the sentiment of a single sentence 
through the API, the sentiment is one of three classes (positive negative, neutral)
Input: 
        sentence(str): the input sentence of which the sentiment is to be predicted
Output:
        prediction(str): the sentiment of the given sentence 
'''


def predict(sentence):
    url = "http://mazajak.inf.ed.ac.uk:8000/api/predict"
    to_sent = {'data': sentence}
    data = json.dumps(to_sent,ensure_ascii=False).encode('utf8')
    headers = {'content-type': 'application/json'}
    # sending get request and saving the response as response object
    response = requests.post(url=url, data=data, headers=headers)

    prediction = json.loads(response.content)['data']

    return prediction


'''
This function offers the ability to predict the sentiment of a list of sentences
through the API, the sentiment is one of three classes (positive negative, neutral)
Input: 
        sent_lst(list of str): the input list of which the sentiment of its sentences is to be predicted
Output:
        prediction(list of str): the sentiments of the given sentences
'''


def predict_list(sent_lst):
    url = "http://mazajak.inf.ed.ac.uk:8000/api/predict_list"
    to_sent = {'data': sent_lst}
    data = json.dumps(to_sent)
    headers = {'content-type': 'application/json'}
    # sending get request and saving the response as response object
    response = requests.post(url=url, data=data, headers=headers)

    prediction = json.loads(response.content)['data']

    return prediction

In [ ]:
tweets = df['norm_text'].to_list()
labels = []
for tweet in tweets[:10000]:
    labels.append(predict(tweet))

In [1]:
df['auto_lable'][:10000] = labels

In [ ]:
df["auto_lable"].value_counts()

In [ ]:
df.to_csv('Lable1_data')